<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>

		<div>
			<h3>Задача 1. Розробити додаток з такими маршрутами:</h3>
			<hr />
			<div>Маршрут Що повертає season повертає пору року day повертає поточний день time повертає час дня (ранок, обід, вечеря)</div>
		</div>
	</body>
</html>
