<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Prod</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="product">
			<span>Title: <%= product.title %></span>
			<span>Price: <%= product.price %></span>
			<span>Spinning Test: <%= product.test %></span>
		</div>
	</body>
</html>
