<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>films</title>
	</head>
	<body>
		<h2 class="title"><%= title %></h2>
		<hr />
		<div class="item">
			<h4>Netflix</h4>
			<a href="https://www.netflix.com/ua/">https://www.netflix.com/ua/</a>
		</div>
		<div class="item">
			<h4>Megogo</h4>
			<a href="https://megogo.net/ua/films">https://megogo.net/ua/films</a>
		</div>
	</body>
</html>
