<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>me</title>
	</head>
	<body>
		<h2 class="title"><%= title %></h2>
		<hr />
		<div class="item">
			<h4>
				Hello, my name is Andriy, I got acquainted with programming very spontaneously and unexpectedly when I got my first computer. I literally got sick of it and one evening I became
				interested in how everything I see on the computer is arranged inside, from that moment I began to learn more and more. Now I want to become a successful programmer.
			</h4>
		</div>
	</body>
</html>
