<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>sites</title>
	</head>
	<body>
		<h2 class="title"><%= title %></h2>
		<hr />
		<div class="item">
			<h5>gitHub</h5>
			<a href="https://github.com/">https://github.com/</a>
		</div>
		<div class="item">
			<h5>Mmdn</h5>
			<a href="https://developer.mozilla.org/en-US/">https://developer.mozilla.org/en-US/</a>
		</div>
		<div class="item">
			<h5>Vue</h5>
			<a href="https://ua.vuejs.org/guide/quick-start.html">https://ua.vuejs.org/guide/quick-start.html</a>
		</div>
	</body>
</html>
