<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul>
			<li>
				<a href="/products">products</a>
				/
				<a href="/login/<%= isUser? 'logout' :'' %>"><%=isUser? 'logout' :'login' %></a>
			</li>
		</ul>
	</body>
</html>
