<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>Document</title>
	</head>
	<body>
		<% if (errors?.length > 0) { %>
		<ul>
			<% errors.forEach(function(error) { %>
			<li><%= error.msg %></li>
			<% }) %>
		</ul>
		<hr />
		<% } %>
		<form action="/login" method="post">
			<input placeholder="enter name" value="<%= data?.userName %>" required type="text" name="userName" />
			<input placeholder="enter password" required value="<%= data?.password %>" type="password" name="password" />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
