<!DOCTYPE html>
<html>
	<head>
		<title>home</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<style>
			.list {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;
			}
			img {
				max-width: 500px;
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
				<ul class="list">
					<li class="list__item">
						<a href="about.html">About</a>
					</li>
					<li class="list__item">
						<a href="/products">buy something !</a>
					</li>
				</ul>
			</nav>
		</header>
		<hr />
		<h1>Fishing Shop</h1>
		<img src="https://mainesport.com/cdn/shop/collections/Fishing.jpg?v=1706567922" alt="" />
	</body>
</html>
