<!DOCTYPE html>
<html>
	<head>
		<title>home</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<style>
			.list {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
				<ul class="list">
					<li><a href="about.html">about</a></li>
					<li><a href="products">products</a></li>
					<li><a href="products/add">add new prod</a></li>
				</ul>
			</nav>
		</header>
		<h1>Welcome ! <%= title %></h1>

		<hr />
		<p>
			Задача 4. З використанням роутерів та шаблонізаторів розробити інтернет магазин з такими сторінками: 1) about – як статична сторінка (розмістити у public) 2) сторінка додавання
			продукту (поки лише відображаємо поля для заповнення інформації) 3) сторінка відображення продуктів (у формі таблиці і списку) 4) головна – знаходяться посилання на сторінки about і
			products і addproducts
		</p>
	</body>
</html>
